<!-- your_template.html -->
<table>
    <thead>
        <tr>
            <th>Exam Code</th>
            <th>Student Batch Name</th>
            <th>Batch Name</th>
            <th>Student Name</th>
            <th>Roll No</th>
            <th>Exam Type</th>
            <th>Subject Name</th>
            <th>Obtained Marks</th>
            <th>Max Marks</th>
            <th>Obtained Grade</th>
            <th>RV Marks</th>
            <th>RV Updated</th>
            <th>Course Category</th>
        </tr>
    </thead>
    <tbody>
        {% for data in filtered_data %}
            <tr>
                <td>{{ data.exam_code }}</td>
                <td>{{ data.student_batch_name }}</td>
                <td>{{ data.batch_name }}</td>
                <td>{{ data.student_name }}</td>
                <td>{{ data.roll_no }}</td>
                <td>{{ data.exam_type }}</td>
                <td>{{ data.subject_name }}</td>
                <td>{{ data.obt_marks }}</td>
                <td>{{ data.max_marks }}</td>
                <td>{{ data.obt_grade }}</td>
                <td>{{ data.rv_marks }}</td>
                <td>{{ data.rv_updated }}</td>
                <td>{{ data.course_category }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
